# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Dependency files
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# SQLite database files (anywhere in the repo)
*.db
*.db-shm
*.db-wal
